fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
email-validator
python-dotenv
requests
httpx
razorpay
python-jose[cryptography]
passlib[bcrypt]
google-generativeai
python-multipart
langgraph
google-genai



postgresql://paypilot_user:8xmYZBE7KtXGaaDZNIm6tSxAAaDwDweR@dpg-daqjcre7bikc738o07cg-a/paypilot_kq3g