fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
psycopg2-binary
pydantic
pydantic-settings
email-validator
python-dotenv
requests
httpx
razorpay
python-jose[cryptography]
passlib[bcrypt]
google-generativeai
python-multipart
langgraph
google-genai